body {
  margin: 0;
}

.hero {
  border-bottom: 2px solid yellow;
  display: flex;
  margin: 0px 116px;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
  width: 100%;
}
.menu {
  margin: 20px 0px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  width: 730px;
  height: 60px;
  gap: 16px;
}

.menu li {
  border: 2px solid red;
  padding: 4px 8px;
  font-size: 20px;
  gap: 20px;
}

.img-html {
  float: left;
}

.img {
  border: 2px solid blue;
}

.menu2 {
  border: 2px solid green;
  margin: 32px 0px;
  display: flex;
}

.menu2 li {
  list-style-type: none;

  margin-right: 30px;
  border: 2px solid orange;
}

.img-cell {
  float: left;
  border: 2px solid purple;
  margin-top: 17px;
}

.btn {
  border-radius: 32px;
  color: white;
  padding: 16px 32px;
  background-color: #ff3d9a;
  border: none;
  gap: 8px;
  display: flex;
  align-items: center;
}

.divider {
  border-bottom: 2px solid black;
}
