* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hero {
  border-bottom: 2px solid yellow;
  display: flex;
  margin: 0px 116px;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
  width: 100%;
}
.menu {
  margin: 20px 0px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.teste {
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu li {
  list-style: none;
  border: 2px solid red;
}

.menu a {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.img-html {
  float: left;
}

.img {
  border: 2px solid blue;
}

.menu2 {
  border: 2px solid green;
  gap: 32px;
  display: flex;
  align-items: center;
}

.caixa {
  gap: 12px;
  display: flex;
}

.menu2 li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  border: 2px solid orange;
}

.img-cell {
  float: left;
  border: 2px solid purple;
}

.btn {
  border-radius: 32px;
  color: white;
  padding: 16px 32px;
  background-color: #ff3d9a;
  border: none;
  gap: 8px;
  display: flex;
  align-items: center;
}

.divider {
  border-bottom: 2px solid black;
}
