body {
  margin: 0;
}

.hero {
  border: 2px solid yellow;
}

.menu {
  margin: 20px 50px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  display: inline-block;
  margin: 0 20px;
}
